body, body * {
    background-color: #c14040;
    font-family: 'Bree Serif', serif;
    box-sizing: border-box;
    width: auto;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
} 

li {
    list-style-type: none;
}

/* header */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1.5rem;
    border-radius: 25px;
    
}

.navbar__list {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    justify-content: space-between;
    padding-left: 0;
    padding-bottom: 0.5rem;
    width: 150px;
}

.navbar,
.navbar__nav,
.navbar__list,
.navbar__label,
.navbar__title,
.navbar__item {
    color: #c14040;
    background-color: #fff;
}

.navbar__title, 
.navbar__list {
    font-weight: 400;
    margin: 0;
}

/* main */
/* page accueil */

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background-color: #982c2c;
    border-radius: 25px;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.card__img {
    width: 100%;
    background-color: #982c2c;
}

.card a {
    background-color: #982c2c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__title {
    background-color: #982c2c;
    color: #fff;
    font-weight: 400;
    font-size: 1.5em;
}

/* page details */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    color: #fff;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
}

.details {
    display: flex;
    width: 100%;
}

.image {
    width: 100%;
}


.details__card {
    flex-direction: column;
    align-items: center;
}

.card__table,
.table__row, 
.table__data,
.card__subtitle,
.types {
    background-color: #982c2c;
}

.card__table {
    color: #fff;
    width: 100%;
}

.card__subtitle {
    font-size: 1.2em;
    padding: 1rem 0;
}

.types,
.table__row {
    flex-direction: row;
}

.table__row {
    width: 100%;
    justify-content: space-between;
}

.table__data {
    padding: 0.2rem;
}

.value {
    text-align: right;
    width: 10%;
    text-align: center;
}

.stat {
    width: 25%;
}

.type {
    margin: 0 1rem;
    padding: 0.5rem;
    color: #fff;
    border-radius: 5px;
}

.bars {
    width: 65%;
    position: relative;
}

.bar {
    background-color: #632b2b;
    border-radius: 5px;
    width: 100%;
    height: 25px;
}

.bar--full {
    position: absolute;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
}

/* color types */

.type--acier {
    background-color: #aaaabb;
}

.type--combat {
    background-color: #bb5544;
}

.type--dragon {
    background-color: #7766ee;
}

.type--eau {
    background-color: #339977;
}

.type--électrik {
    background-color: #ffbb33;
}

.type--feu {
    background-color: #ff4422;
}

.type--glace {
    background-color: #77ddff;
}

.type--insecte {
    background-color: #aabb22;
}

.type--normal {
    background-color: #bbaabb;
}

.type--plante {
    background-color: #77cc55;
}

.type--poison {
    background-color: #aa5599;
}

.type--psy {
    background-color: #ff5599;
}

.type--roche {
    background-color: #bbaa66;
}

.type--sol {
    background-color: #ddbb55;
}

.type--spectre {
    background-color: #6666bb;
}

.type--ténèbres {
    background-color: #665544;
}

.type--vol {
    background-color: #6699ff;
}

/* footer */

footer {
    align-items: center;
    margin-top: 2rem;
}

footer a {
    color: #fff;
}

/* media queries */

@media screen and (min-width: 768px) {

    body {
        margin: 1rem 2rem;
    }

    .navbar {
        flex-direction: row;
    }

    .navbar__nav {
        padding: 1rem;
    }

    .container {
        flex-direction: row;
    }

    .card {
        width: 45%;
    }

    .details {
        flex-direction: row;
        justify-content: space-between;
    }

    .image__card {
        width: 35%;
        align-self: center;
    }

    .details__card {
        width: 60%;
        align-items: start;
    }

    .card__subtitle {
        text-align: left;
    }
    
}

@media screen and (min-width: 1024px) {

    .card {
        width: 30%;
    }

    .details {
        flex-direction: row;
    }

    .details__card {
        width: 60%;
        align-items: start;
    }
    

}