<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <title>Pokédex</title>
    </head>

    <body>

        <header class="navbar">
            <a class="navbar__label" href="/"><h1 class="navbar__title">Pokédex</h1></a>
            <nav class="navbar__nav">
                <ul class="navbar__list">
                    <li ><a class="navbar__item" href="/">Liste</a></li>
                    <li ><a class="navbar__item" href="/type">Types</a></li>
                </ul>
            </nav>
        </header>

        <main class="container">
